@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Hola mundo1</h1>
    <h1>Hola mundo2</h1>
    <h1>Hola mundo3</h1>
    <h1>Hola mundo4</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
